* {
    margin: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    margin-top: 3vh;
}

.container {
    position: relative;
    left: 5vw;
    display: flex;
    border: 1px solid;
    width: 90vw;

    li {
        text-align: justify;
    }

    .Solucion_1 {
        position: relative;
        left: 40vw;

    }
}